RewriteEngine On 
RewriteRule ^inicio/?$ index.php [NC,L]  
RewriteRule ^estudio/?$ estudio.php [NC,L]  
RewriteRule ^servicios/?$ servicios.php [NC,L]  
RewriteRule ^proyectos/$ /proyectos/proyectos.php 
RewriteRule ^contacto/?$ contacto.php [NC,L] 

